footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5e4e4ef;
    width: 100%;
    bottom: 0;
    height: 3rem;
    position: absolute;
}

img {
    width: 10rem;
    margin: 0;
}

.socialIcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.socialIcon>img {
    margin: 0 10px;
    transition: 0.5s;
    width: 2rem;
}

.socialIcon>img:hover {
    transform: translateY(-10px);
}